.detail-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "NanumSquareNeo-Variable";
}

.poster {
  background-color: lightslategray;
  width: 155px;
  height: 222px;
  border-radius: 6px;
}

.section-left {
  display: block;
  width: 330px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px 10px 10px;
}

.movie {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px 10px 15px;
}

.movie > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.movie-title {
  font-size: 14px;
  color: #44464d;
}

.movie-rate {
  font-size: 14px;
  font-weight: bold;
  color: #2a2c32;
}

.section-right {
  width: 740px;
}

.section-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.section-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.section-middle-right {
  flex: 1;
  height: 222px;
  background-color: #f3f3f3;
  margin: 0 10px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-middle-right > h1 {
  font-size: 26px;
  font-weight: bolder;
  color: #2a2c32;

  margin: 5px;
}

.describe-middle {
  font-size: 14px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.describe-bottom {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rate {
  display: flex;
  font-size: 40px;
  font-weight: 700;
}

.staff {
  display: flex;
  gap: 10px;
}
.staff-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.staff-info-box {
  display: flex;
  gap: 10px;

  font-size: 14px;
  font-weight: 700;
}
.staff-info-box > p {
  font-weight: 500;
}

.section-bottom {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 100;
  color: #44464d;
  margin-bottom: 20px;
}

.update-btn {
  font-size: 15px;
  font-family: "NanumSquareNeo-Variable";
}
.delete-btn {
  font-size: 15px;
  border: none;
  background-color: transparent;
  font-family: "NanumSquareNeo-Variable";
  margin-right: 10px;
}

.display-menu {
  font-family: "NanumSquareNeo-Variable";
  font-size: 18px;
  color: #2a2c32;

  margin: 20px 0;
}

.display-menu > h2 {
  margin: 0 20px 0;
  position: relative;
  font-weight: 700;
}

.display-menu > h2::before {
  content: "";
  width: 3px;
  height: 24px;
  background-color: #fa320a;

  position: absolute;
  left: -10px;
  top: -4px;
}
