:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  --size-animation-duration: 300ms;
  --base-space: 8px;
  --font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-black);
}

#main {
  display: flex;
  flex-direction: column;
}

#main-header {
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
  transition: transform var(--size-animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform var(--size-animation-duration) ease;
  margin-right: var(--base-space);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.img-btn {
  width: var(--size-button);
  height: var(--size-button);
}

.color-btn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
  border: none;
  margin-right: var(--base-space);
}

#blue-btn {
  background-color: var(--color-blue);
}
#yellow-btn {
  background-color: var(--color-yellow);
}

#red-btn {
  background-color: var(--color-pink);
}

.header-top {
  display: flex;
  justify-content: center;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-body {
  display: flex;
  justify-content: center;
}
#main-body > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#main-body > ul li span {
  padding: 20px;
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
}

.item {
  width: 100%;

  background-color: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;

  padding: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
