#sidebar {
  width: 250px;
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-gray);
  position: fixed;
  top: var(--header-height);
  right: -250px;
  z-index: 500;
  padding: 4rem var(--offset) 13rem;
  transition: 0.3s;
}

#sidebar > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--offset);
}

#sidebar > ul > li {
  font-size: var(--subheading);
}

#hamburger-icon:has(input:checked) ~ aside {
  transform: translate(-250px);
}

@media screen and (max-width: 800px) {
  #sidebar {
    height: calc(100vh - 7rem);
    top: 7rem;
    padding: 6rem var(--offset) 13rem;
  }
}
