{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🍅 영화 정보 수정</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/top.css' %}" />
    <link rel="stylesheet" href="{% static 'css/movie_add.css' %}" />
  </head>
  <body class="body">
    <header>
      <a href="/movies" id="top-banner"
        >YRT
        <div>Yang's Rotten Tomatoes</div></a
      >
    </header>
    <section>
      <form action="/movies/{{movie.pk}}/update" method="post">
        {% csrf_token %}
        <input
          name="title"
          placeholder="영화 제목을 입력해주세요."
          value="{{movie.title}}"
        /><br />
        <input
          name="r_date"
          placeholder="개봉년도를 입력해주세요."
          value="{{movie.release_date}}"
        /><br />
        <input
          name="genre"
          placeholder="장르를 입력해주세요."
          value="{{movie.genre}}"
        /><br />
        <input
          name="rate"
          placeholder="별점을 입력해주세요."
          value="{{movie.rate}}"
        /><br />
        <input
          name="running_time"
          placeholder="러닝타임을 입력해주세요."
          value="{{movie.running_time}}"
        /><br />
        <textarea name="review" cols="30" rows="10" placeholder="리뷰내용">
{{movie.review}}</textarea
        >
        <input
          name="director"
          placeholder="감독을 입력해주세요."
          value="{{movie.director}}"
        /><br />
        <input
          name="actor"
          placeholder="배우를 입력해주세요."
          value="{{movie.actor}}"
        /><br />
        <input type="submit" value="수정 완료" class="submit-button" />
      </form>
    </section>
  </body>
</html>
