{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🍅 MyRottenTomato</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/top.css' %}" />
    <link rel="stylesheet" href="{% static 'css/movie_list.css' %}" />
  </head>
  <body>
    <header>
      <a href="/movies" id="top-banner"
        >YRT
        <div>Yang's Rotten Tomatoes</div></a
      >
      <a href="/movies/create" class="add-review"> 리뷰 작성 </a>
    </header>
    <section class="display-section">
      <div class="display-menu">
        <h2>영화 리뷰</h2>
        <div>
          <a href="/movies/orderby_title">이름순</a>
          <a href="/movies/orderby_rate">별점순</a>
          <a href="/movies/orderby_runningtime">러닝타임순</a>
        </div>
      </div>
      <div class="display-movie">
        {% for movie in movies%}
        <div class="movie">
          <div class="movie-poster">{{movie.poster}}</div>
          <div class="movie-rate">🍅 {{movie.rate}}</div>
          <a class="movie-title" href="/movies/{{movie.pk}}">{{movie.title}}</a>
          <div class="movie-info">{{movie.release_data}}</div>
          <div class="movie-info">{{movie.genre}}</div>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
