/*설정 */
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-style: normal;
}

:root {
  --black: #000;
  --white: #fff;
  --green-1: #0bec12;
  --green-2: rgba(73, 191, 77, 0.8);
  --green-3: rgba(73, 191, 77, 0.6);
}

/*전체*/
body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
/* 왼쪽 사이드바 */
.menu {
  height: 100%;
  width: 244px;
  border-right: 2px solid lightgray;

  padding: 8px 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 80px;
  width: 100%;
  gap: 10px;
}
.menu a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  height: 40px;
}

#main-logo {
  font-size: 40px;
  font-weight: bold;
  font-family: "MYHaemalgeunSangsang";
}
