{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myidea</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link rel="stylesheet" href="{% static 'ideas/css/ideas.css'%}" />
    <link rel="stylesheet" href="{% static 'DevTools/css/devtools.css'%}" />
  </head>
  <body>
    <header>
      <h1>My SW IDEA Manage</h1>
      <div class="header-menu">
        <a href="{% url 'ideas:create' %}"> 아이디어 등록 </a>
        <a href="{% url  'ideas:list' %}"> 아이디어 관리 </a>
        <a href="{% url  'devtools:create' %}"> 개발툴 등록 </a>
        <a href="{% url  'devtools:list' %}"> 개발툴 관리 </a>
      </div>
    </header>
    <section>
      {%block head%} {%endblock%} {%block content%} {%endblock%}
    </section>
    <script src="/static/ideas/js/ideas.js\"></script>
  </body>
</html>
